.screen {
    width: inherit;
    height: inherit;
    background-color: rgb(84, 84, 84);
    color: white;
    font-size: 50px;
    display: grid;
    justify-content: end;
    align-content: center;
    padding: 20px;
    box-sizing: border-box;
}