.container {
    --orange: orange;
    --hover-orange: rgb(224, 146, 0);
    --active-orange: rgb(177, 115, 0);
    --grey: rgb(95, 95, 95);
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    grid-template-areas:
        'ac  pm  per dev'
        'sev eig nin mul'
        'fou fiv six min'
        'one two thr plu'
        'zer zer dot equ'
    ;

    .zero {
        grid-area: zer;
        border-bottom-left-radius: 20px;
    }

    .dot {
        grid-area: dot;
    }

    .equals {
        grid-area: equ;
        background-color: var(--orange);
        border-bottom-right-radius: 20px;
    }

    .one {
        grid-area: one;
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: thr;
    }

    .plus {
        grid-area: plu;
        background-color: var(--orange);
    }

    .four {
        grid-area: fou;
    }

    .five {
        grid-area: fiv;
    }

    .six {
        grid-area: six;
    }

    .minus {
        grid-area: min;
        background-color: var(--orange);
    }

    .seven {
        grid-area: sev;
    }

    .eight {
        grid-area: eig;
    }

    .nine {
        grid-area: nin;
    }

    .multiply {
        grid-area: mul;
        background-color: var(--orange);
    }

    .AC {
        grid-area: ac;
        background-color: var(--grey);
    }

    .plusMinus {
        grid-area: pm;
        background-color: var(--grey);
    }

    .present {
        grid-area: per;
        background-color: var(--grey);
    }

    .device {
        grid-area: dev;
        background-color: var(--orange);
    }

    &>* {
        appearance: unset;
        font-size: 25px;
        color: white;
        background-color: grey;
        border-width: 0;
        padding: 10px;
        margin: 0;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            filter: brightness(110%);
        }

        &:active {
            filter: blur(2px);
        }
    }
}